In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Setting
sns.despine(left=True, bottom=True)
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format','{:.4f}'.format)
sns.set()

%matplotlib inline

In [2]:
jams_prep = pd.read_parquet('..\\dataset\\aggregate_median_jams_bogor_preproc.parquet')
jams_bogor = pd.read_parquet('..\\dataset\\jams_bogor_cluster_trial2.parquet')

In [3]:
jams_bogor.sample()

,median_length,median_delay,median_speed_kmh,total_records,median_level,weekday,month,day,is_weekday,hour,is_working_hour,is_morning,is_lunch,is_late_afternoon,is_late_night,time_span,median_length__mean,median_length__median,median_length__std,median_delay__mean,median_delay__median,median_delay__std,median_speed_kmh__mean,median_speed_kmh__median,median_speed_kmh__std,total_records__mean,total_records__median,total_records__std,median_level__mean,median_level__median,median_level__std,percentile_5_median_length,percentile_25_median_length,percentile_75_median_length,percentile_95_median_length,percentile_5_median_delay,percentile_25_median_delay,percentile_75_median_delay,percentile_95_median_delay,percentile_5_median_speed_kmh,percentile_25_median_speed_kmh,percentile_75_median_speed_kmh,percentile_95_median_speed_kmh,percentile_5_total_records,percentile_25_total_records,percentile_75_total_records,percentile_95_total_records,percentile_5_median_level,percentile_25_median_level,percentile_75_median_level,percentile_95_median_level,overall_occurance,occurance_time_span_6,occurance_time_span_1,occurance_time_span_2,occurance_time_span_3,occurance_time_span_4,occurance_time_span_5,occurance_weekday_2,occurance_weekday_3,occurance_weekday_4,occurance_weekday_5,occurance_weekday_6,occurance_weekday_0,occurance_weekday_1,cluster
100495,512.0000,81.0000,9.4200,2.0000,3.0000,6.0000,9.0000,4.0000,0.0000,7.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0000,472.7500,493.0000,213.7309,96.5000,97.0000,27.7669,12.1650,11.7725,7.2527,4.7500,4.0000,2.9861,3.0000,3.0000,0.8165,235.1500,403.7500,562.0000,682.0000,67.0000,77.2500,116.2500,124.0500,4.8215,8.0675,15.8700,20.0580,2.3000,3.5000,5.2500,8.2500,1.0000,2.7500,3.0000,4.0000,4.0000,0.0000,0.0000,1.0000,2.0000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,2.0000,0.0000,1.0000,5

In [10]:
jams_prep.sample()

,time,street,level,median_length,median_delay,median_speed_kmh,total_records,id,date,median_level,geometry,date_time
3904,2022-07-08 15:00:00.000,RE Martadinata,2,503.0000,78.5000,12.8300,24,33599334,2022-07-08,2.0000,"MULTILINESTRING ((106.792117 -6.583234, 106.79...",2022-07-08 15:00:00

In [3]:
jams_bogor_intre = pd.concat([jams_prep[['street', 'geometry']], jams_bogor], axis=1)

In [13]:
jams_bogor_intre.sample()

,street,geometry,median_length,median_delay,median_speed_kmh,total_records,median_level,weekday,month,day,is_weekday,hour,is_working_hour,is_morning,is_lunch,is_late_afternoon,is_late_night,time_span,median_length__mean,median_length__median,median_length__std,median_delay__mean,median_delay__median,median_delay__std,median_speed_kmh__mean,median_speed_kmh__median,median_speed_kmh__std,total_records__mean,total_records__median,total_records__std,median_level__mean,median_level__median,median_level__std,percentile_5_median_length,percentile_25_median_length,percentile_75_median_length,percentile_95_median_length,percentile_5_median_delay,percentile_25_median_delay,percentile_75_median_delay,percentile_95_median_delay,percentile_5_median_speed_kmh,percentile_25_median_speed_kmh,percentile_75_median_speed_kmh,percentile_95_median_speed_kmh,percentile_5_total_records,percentile_25_total_records,percentile_75_total_records,percentile_95_total_records,percentile_5_median_level,percentile_25_median_level,percentile_75_median_level,percentile_95_median_level,overall_occurance,occurance_time_span_6,occurance_time_span_1,occurance_time_span_2,occurance_time_span_3,occurance_time_span_4,occurance_time_span_5,occurance_weekday_2,occurance_weekday_3,occurance_weekday_4,occurance_weekday_5,occurance_weekday_6,occurance_weekday_0,occurance_weekday_1,cluster
74635,unknown,"LINESTRING (106.847234 -6.655619, 106.847274 -...",233.0000,124.0000,5.1900,2.0000,3.0000,5.0000,8.0000,20.0000,0.0000,7.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0000,384.8193,285.0000,276.4670,133.0011,118.0000,58.5834,7.6514,6.2100,4.6620,16.6358,11.0000,16.8374,3.1484,3.0000,0.8545,182.0000,216.0000,448.0000,1084.0000,67.0000,90.9375,156.0000,248.0000,2.8600,4.4850,9.1900,18.0610,2.0000,6.0000,21.0000,48.0000,1.0000,3.0000,3.0000,4.0000,1793.0000,75.0000,24.0000,273.0000,668.0000,394.0000,359.0000,224.0000,225.0000,262.0000,360.0000,308.0000,212.0000,202.0000,1

## Group by Weekday

In [15]:
sel_cols = ['street', 'cluster']

jams_bogor_intre_0 = jams_bogor_intre.query('weekday == 0')[sel_cols]
jams_bogor_intre_1 = jams_bogor_intre.query('weekday == 1')[sel_cols]
jams_bogor_intre_2 = jams_bogor_intre.query('weekday == 2')[sel_cols]
jams_bogor_intre_3 = jams_bogor_intre.query('weekday == 3')[sel_cols]
jams_bogor_intre_4 = jams_bogor_intre.query('weekday == 4')[sel_cols]
jams_bogor_intre_5 = jams_bogor_intre.query('weekday == 5')[sel_cols]
jams_bogor_intre_6 = jams_bogor_intre.query('weekday == 6')[sel_cols]

In [95]:
def street_cluster_mode(dataframe):
    return (
                dataframe
                .groupby('street')
                .apply(lambda x: x.value_counts().head(1))
                .droplevel(0)
                .reset_index()
                .rename(columns = {0: 'occurances'})
            )

In [96]:
street_cluster_weekday_0 = street_cluster_mode(jams_bogor_intre_0)
street_cluster_weekday_1 = street_cluster_mode(jams_bogor_intre_1)
street_cluster_weekday_2 = street_cluster_mode(jams_bogor_intre_2)
street_cluster_weekday_3 = street_cluster_mode(jams_bogor_intre_3)
street_cluster_weekday_4 = street_cluster_mode(jams_bogor_intre_4)
street_cluster_weekday_5 = street_cluster_mode(jams_bogor_intre_5)
street_cluster_weekday_6 = street_cluster_mode(jams_bogor_intre_6)

In [111]:
street_geo = jams_prep[['street', 'geometry']].drop_duplicates()
street_geo = street_geo.sort_values('street')

In [114]:
street_geo = street_geo.groupby('street').first()

In [115]:
street_cluster_weekday_0 = street_cluster_weekday_0.merge(street_geo, how='left', on='street')
street_cluster_weekday_1 = street_cluster_weekday_1.merge(street_geo, how='left', on='street')
street_cluster_weekday_2 = street_cluster_weekday_2.merge(street_geo, how='left', on='street')
street_cluster_weekday_3 = street_cluster_weekday_3.merge(street_geo, how='left', on='street')
street_cluster_weekday_4 = street_cluster_weekday_4.merge(street_geo, how='left', on='street')
street_cluster_weekday_5 = street_cluster_weekday_5.merge(street_geo, how='left', on='street')
street_cluster_weekday_6 = street_cluster_weekday_6.merge(street_geo, how='left', on='street')

In [116]:
street_cluster_weekday_0.sample(5)

,street,cluster,occurances,geometry
76,Heulang,1,1,"MULTILINESTRING ((106.804608 -6.570116, 106.80..."
154,N9 Underpass KH Soleh Iskandar,1,57,"MULTILINESTRING ((106.800519 -6.562005, 106.80..."
49,Curug Mekar Raya,5,3,"MULTILINESTRING ((106.76777 -6.553449, 106.767..."
56,Dr Sumeru,2,222,"MULTILINESTRING ((106.785801 -6.589985, 106.78..."
113,Kencana 2 Raya,5,10,"MULTILINESTRING ((106.786922 -6.534051, 106.78..."

In [117]:
street_cluster_weekday_0.to_csv('..\\dataset\\street_cluster_weekday_0_interpret.csv')
street_cluster_weekday_1.to_csv('..\\dataset\\street_cluster_weekday_1_interpret.csv')
street_cluster_weekday_2.to_csv('..\\dataset\\street_cluster_weekday_2_interpret.csv')
street_cluster_weekday_3.to_csv('..\\dataset\\street_cluster_weekday_3_interpret.csv')
street_cluster_weekday_4.to_csv('..\\dataset\\street_cluster_weekday_4_interpret.csv')
street_cluster_weekday_5.to_csv('..\\dataset\\street_cluster_weekday_5_interpret.csv')
street_cluster_weekday_6.to_csv('..\\dataset\\street_cluster_weekday_6_interpret.csv')

In [9]:
street_cluster_weekday_0 = pd.read_csv('..\\dataset\\street_cluster_weekday_0_interpret.csv')
street_cluster_weekday_1 = pd.read_csv('..\\dataset\\street_cluster_weekday_1_interpret.csv')
street_cluster_weekday_2 = pd.read_csv('..\\dataset\\street_cluster_weekday_2_interpret.csv')
street_cluster_weekday_3 = pd.read_csv('..\\dataset\\street_cluster_weekday_3_interpret.csv')
street_cluster_weekday_4 = pd.read_csv('..\\dataset\\street_cluster_weekday_4_interpret.csv')
street_cluster_weekday_5 = pd.read_csv('..\\dataset\\street_cluster_weekday_5_interpret.csv')
street_cluster_weekday_6 = pd.read_csv('..\\dataset\\street_cluster_weekday_6_interpret.csv')

In [10]:
street_cluster_weekday_0['weekday'] = 0
street_cluster_weekday_1['weekday'] = 1
street_cluster_weekday_2['weekday'] = 2
street_cluster_weekday_3['weekday'] = 3
street_cluster_weekday_4['weekday'] = 4
street_cluster_weekday_5['weekday'] = 5
street_cluster_weekday_6['weekday'] = 6

In [13]:
street_cluster_weekday = pd.concat([street_cluster_weekday_0,
                                    street_cluster_weekday_1,
                                    street_cluster_weekday_2,
                                    street_cluster_weekday_3,
                                    street_cluster_weekday_4,
                                    street_cluster_weekday_5,
                                    street_cluster_weekday_6], axis=0)

In [16]:
street_cluster_weekday.head()

,street,cluster,occurances,geometry,weekday
0,AH Nasution,1,2,"MULTILINESTRING ((106.804932 -6.599641, 106.80...",0
1,Achmad Adnawijaya,5,107,"MULTILINESTRING ((106.816178 -6.587286, 106.81...",0
2,Akses Tol Tajur,1,1,"MULTILINESTRING ((106.847281 -6.655128, 106.84...",0
3,An Nashr,1,2,"MULTILINESTRING ((106.774845 -6.572352, 106.77...",0
4,Arah Bogor Kota/Kebun Raya,1,1,"MULTILINESTRING ((106.808048 -6.603921, 106.80...",0

In [17]:
street_cluster_weekday.to_csv('..\\dataset\\street_cluster_weekday_all_interpret.csv', index=False)